#quiz {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 5rem);
}

#question {
  font-size: 1rem;
  background-color: #F8F8F0;
}

#answers {
  position: relative;
  bottom: 2rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
  width: 80%;
}

.answer-btn {
  width: 40%;
  min-height: 4rem;
  height: fit-content;
  margin-top: 1rem;
  font-size: clamp(15px, 0.5rem, 30px);
  border: none;
  box-shadow: 5px 5px #5A2D9B;
}

.answer-btn:active {
  transform: translate(5px, 5px);
  box-shadow: none;
}

#progress-and-exit {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 90%;
  margin: auto;
}

#progress {
  font-size: 0.8rem;
  padding: 0;
}

@media not (orientation: portrait) {
  .answer-btn {
    min-height: 1.2rem;
  }
}
