#game-creator {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h2 {
  text-align: center;
}

#game-creator > div {
  display: flex;
  justify-content: space-between;
}

#game-creator > span {
  display: flex;
  justify-content: space-around;
}

label {
  font-size: clamp(16px, 1rem, 60px);
}

input, select, button, #numQuestionSelector {
  width: clamp(60px, 30%, 300px);
  font-size: clamp(16px, 0.5rem, 40px);
  background-color: #D4AF37;
  border: ridge #F8F8F0;
}

#numQuestionSelector {
  display: flex;
  justify-content: space-between;
}

.set-number-btn {
  height: 100%;
  border: none;
  border-radius: 0;
}

#num-questions {
  text-align: center;
  border: none;
}

select option {
  background-color: #F8F8F0;
}

select option:not(:checked) {
  background-color: #D4AF37;
}

#control-btns button {
  height: 3rem;
}

#loading {
  z-index: 99; /* One less than a popUp */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
}

@media not (orientation: portrait) {
  #game-creator {
    max-width: 70%;
  }

  #control-btns button {
    height: 2rem;
  }
}